---
layout: default
---
<div class="hero-parallax">
    <img src="{{ '/assets/images/dandelion_white.jpg' | relative_url }}" alt="AI Research Conceptual Image" class="central-image" loading="eager">
</div>
<div class="container">
    <header>
        <div class="logo">
            <a href="{{ '/' | relative_url }}">SHIRO TAKAGI</a>
        </div>
        <div class="menu-container">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
</div>
{{ content }}
