---
layout: default
---
<div class="container">
    <header>
        <div class="logo"><a href="{{ '/' | relative_url }}">SHIRO TAKAGI</a></div>
        <div class="menu-container">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <div class="main-content fade-in">
        <div class="content-wrapper{% if page.wide %} content-wrapper--wide{% endif %}"{% if page.wrapper_style %} style="{{ page.wrapper_style }}"{% endif %}>
        {{ content }}
        </div>
    </div>
</div>
